/*Praveen*/


.logout-main {
    width: 60%;
    margin-left: 20%;
    margin-top: 14%;
    border: 1px solid black;
    padding: 2%;
    border-left: 10px solid orange;
}


.logout-header {
    width: 50%;
    font-size: 30px;
    cursor: pointer;
}

.login-again {
    margin-top: 14%;
    cursor: pointer;
    width: 30%;
}




